# PostgreSQL
POSTGRES_USER={{postgres_user}}
POSTGRES_PASSWORD={{postgres_password}}

# General settings
DJANGO_ADMIN_URL={{django_admin_url}}
DJANGO_SETTINGS_MODULE={{django_settings_module}}config.settings.production
DJANGO_SECRET_KEY={{django_secret_key}}jz04wx=tp_70&r-zdqh%tv5g7y*a7+=qh9p9)%&bhb37zpe&og
DJANGO_ALLOWED_HOSTS={{django_allowed_hosts}}

# AWS Settings
DJANGO_AWS_S3_HOST={{django_aws_s3_host}}
DJANGO_AWS_ACCESS_KEY_ID={{django_aws_access_key_id}}
DJANGO_AWS_SECRET_ACCESS_KEY={{django_aws_secret_access_key}}
DJANGO_AWS_STORAGE_BUCKET_NAME={{django_aws_storage_bucket_name}}

# Used with email
DJANGO_MAILGUN_API_KEY={{django_mailgun_api_key}}
DJANGO_SERVER_EMAIL={{django_server_email}}
MAILGUN_SENDER_DOMAIN={{mailgun_sender_domain}}

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT={{django_secure_ssl_redirect}}

# Sentry
DJANGO_SENTRY_DSN={{django_sentry_dsn}}


COMPRESS_ENABLED={{django_compress_enabled}}

